<div class="row">
  <h4>History</h4>
  <span><input type="range" min="1" max="50" [(ngModel)]="count" >{{count}}</span>
  <button (click)="getHistory()">update</button>
</div>
<div class="row">
  <table class="table table-striped table-sm">
    <thead class="thead-inverse">
      <tr>
        <th>Datum</th>
        <th>Wert</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let measurement of measurements" scope="row">
        <td>
          {{measurement.timestamp | date: 'dd.MM.yyyy - hh:mm:ss'}}
        </td>
        <td>
          {{measurement.value | number: '.1-1'}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
